@import url(normalise.css);
@import url(vars.css);

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0;
}

.header__container {
    align-items: center;
    padding: 13px 16px 13px 0;
    margin-bottom: 14px;
}

.logo__title {
    padding-top: 8px;
    margin-left: 12px;
}

.navbar {
    padding-right: 30px;
    flex-grow: 1;
    justify-content: flex-end;
}

.list-group-item {
    border: none;
}

.link-underline {
    color: var(--title-color);
}

.link-underline:hover {
    color: var(--btn-color-background);
}

.btn {
    padding: 10px 25px;
    font-size: var(--title-font-size-4);
    font-weight: 700;
}

.btn-warning {
    margin-left: 14px;
    color: var(--btn-color-white);
    background: var(--btn-color-background);
}

.btn-warning:hover {
    color: var(--btn-color-background);
    background: var(--btn-color-white);
}

.nav-btn {
    color: var(--btn-color-text);
    border: 1px solid var(--border-color);
}

.nav-btn:hover {
    color: var(--btn-color-white);
    background: var(--btn-color-background);
}

/* hero */

.hero__container {
    display: flex;
    margin-bottom: 110px;
}

.hero__content {
    margin-right: 3px;
    padding: 82px 0;
}

.hero__title {
    font-size: 44px;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 400px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
    margin-bottom: 45px;
}

.hero__btn {
    padding: 14px 41px;
    background: var(--btn-color-background);
    color: var(--btn-color-white);
    margin-right: 25px;
}

.hero__btn:hover {
    color: var(--btn-color-background);
    background: var(--btn-color-white);
    border: 1px solid var(--btn-color-background);
}

.hero__arrow {
    margin-right: 8px;
}

.hero__link {
    color: var(--btn-color-background);
    text-decoration: underline;
    text-decoration-color: var(--btn-color-background);
    position: relative;
}

.hero__link:hover {
    color: var(--title-color);
}

.hero__link::before {
    position: absolute;
    left: 30px;
    bottom: 1px;
    content: "";
    width: 115px;
    height: 1px;
    background: var(--btn-color-background);
    display: inline-block;
}

.hero__link:hover::before {
    background: var(--title-color);
}

/* cards */

.cards__container {
    text-align: center;
    padding: 0 15px 90px;
}

.cards__content {
    display: flex;
    justify-content: space-between;
}

.cards__title {
    display: inline-block;
    max-width: 539px;
    font-size: var(--title-font-size-2);
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 54px;
}

.card-group {
    margin-bottom: 34px;
}

.card {
    text-align: left;
    max-width: 240px;
    border: none;
}

.card:not(:last-child) {
    margin-right: 40px;
}

.card__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 40%;
    padding: 16px;
}

.card__icon-violet {
    background: #7752BE;
    padding: 16px 19px;
}

.card__icon-orange {
    background: #FAB005;
}

.card__icon-red {
    background: #F03E3D;
    padding: 17px 17px;
}

.card__icon-blue {
    background: #4DADF7;
    padding: 16px 18px;
}

.card__icon img {
    display: block;
}

.card__title {
    font-size: var(--title-font-size-3);
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 13px;
}

.card__text {
    font-size: var(--page-font-size);
    font-weight: 500;
    line-height: 26px;
    color: var(--text-color);
    margin: 0;
}

/* info */

.info__container {
    padding: 0 8px 146px;
}

.info__card {
    display: flex;
    justify-content: space-between;
}

.info__card-reverse {
    flex-direction: row-reverse;
}

.info__card:not(:last-child) {
    margin-bottom: 102px;
}

.info__content {
    max-width: 486px;
    padding: 26px 0 16px;
}

.info__content-reverse {
    padding: 49px 0 45px;
}

.info__content-last {
    padding: 39px 0;
}

.info__text {
    font-size: var(--page-font-size);
    font-weight: 500;
    line-height: 26px;
    color: var(--text-color);
}

.info__text-1 {
    margin-bottom: 3px;
}

.info__title {
    font-size: var(--title-font-size-2);
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 22px;
}

.info__subtitle {
    font-size: var(--title-font-size-4);
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 12px;
}

.info__subtitle-1 {
    margin-top: 30px;
}

.info__subtitle-2 {
    margin-top: 25px;
}

.info__item {
    max-width: 430px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}

.info__tick {
    width: 35px;
    height: 35px;
    border-radius: 40%;
    background-color: var(--btn-color-background);
    padding: 11px 8px;
    margin-right: 30px;
    margin-bottom: 8px;
}

.info__tick-img {
    display: block;
}

.info__text-block {
    line-height: 26px;
    margin-bottom: 0;
}

/* footer */

.footer__container {
    height: 308px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 15px 50px;
}

.footer__nav {
    max-width: 118px;
    padding: 0;
    align-items: flex-end;
}

.footer__list {
    max-width: 155px;
    text-align: start;
    justify-content: end;
    padding-top: 20px;
}

.footer__item {
    padding: 0;
    line-height: 35px;
}

.footer__link {
    font-size: var(--page-font-size);
    font-weight: 500;
    color: var(--text-color);
}

.footer__btn {
    width: 131px;
    height: 39px;
    background: var(--btn-color-background);
    padding: 5px 15px 15px;
    text-align: center;
}

.footer__form {
    max-width: 325px;
    height: 100px;
    padding-top: 50px;
}

.footer__input {
    width: 100%;
    height: 39px;
    background: var(--btn-color-white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 15px;
    margin-bottom: 20px;
}

