:root {
    --title-color: #2F281E;
    --text-color: #544837;
    --btn-color-text: #173A56;
    --btn-color-background: #FF9900;
    --btn-color-white: #FFFFFF;
    --border-color: #BCD0E5;
    --title-font-size-2: 36px;
    --title-font-size-3: 22px;
    --title-font-size-4: 16px;
    --page-font-size: 16px;
}